<%= currently_at('Admin') %>
<%= currently_at_left('Admin', 'Tweets') %>
<div class='col-lg-10'>
  <h1>System Tweets</h1>

  <table class='table table-hover'>
    <thead class='thead-default'>
      <th class= 'text-center'>Tweet id</th>
      <th class= 'text-center'>Tweet number</th>
      <th class= 'text-center'>Tweet text fragment</th>
    </thead>
    <% @tweets.each do |tweet| %>
      <tr class= 'text-center'>
        <td><%= tweet.id %></td>
        <td><%= tweet.number %></td>
        <td class='fit-text'><%= tweet.text %></td>
      </tr>
    <% end %>
  </table>
  <div>
    <%= link_to 'Create New Tweet', new_admin_tweet_path, class: 'btn btn-primary' %>
  </div>
</div>
