<blockquote class='twitter-tweet'>

  <div class='container'>
    <div class='top-right'>
      <%= unfavorite_button(favorite.number) %>
    </div>
    <div>
      <%= link_to twitter_user_path(favorite.user_screen_name), title:'profile' do %>
        <%= image_tag(favorite.user_profile_img, class: 'avatar') %>
        <span class='name'><%= favorite.user_name %><br> </span>
        <span class='screen-name'>@<%= favorite.user_screen_name %></span>
      <% end %>
    </div>
  </div>

  <p class='twitter-tweet'>
    <%= auto_link(favorite.text) %><br>
  </p>

  <div>
    <% favorite.tweet_images.each do |tweet_image| %>
      <%= link_to tweet_image.image.url, title:'media' do %>
        <%= image_tag((tweet_image.image.url), class: 'media') %>
      <% end %>
    <% end %>
  </div>

</blockquote>
