<blockquote class='twitter-tweet'>

  <div class='container'>
    <div class='top-right'>
      <span class='glyphicon glyphicon-star' data-toggle='tooltip' title='UnFavorite'></span>
    </div>
    <div>
      <%= link_to favorite.user_url, title:'profile' do %>
        <%= image_tag(favorite.user_profile_img, class: 'avatar') %>
        <span class='name'><%= favorite.user_name %><br> </span>
        <span class='screen-name'>@<%= favorite.user_screen_name %></span>
      <% end %>
    </div>
  </div>

  <p class='twitter-tweet'>
    <%= favorite.text %><br>
  </p>

  <div>
    <% favorite.tweet_images.each do |image| %>
      <%= link_to image.url, title:'media' do %>
        <%= image_tag((image.url), class: 'media') %>
      <% end %>
    <% end %>
  </div>

</blockquote>
