<blockquote class='twitter-tweet'>

  <div class='container'>
    <div class='top-right'>
      <% if current_user.faved?(tweet.id) %>
        <%= unfavorite_button(tweet.id) %>
      <% else %>
        <%= favorite_button(tweet) %>
      <% end %>
    </div>
    <div>
      <%= link_to tweet.user.url.to_s, title:'profile' do %>
        <%= image_tag(tweet.user.profile_image_url, class: 'avatar') %>
        <span class='name'><%= tweet.user.name %><br> </span>
        <span class='screen-name'>@<%= tweet.user.screen_name %></span>
      <% end %>
    </div>
  </div>

  <p class='twitter-tweet'>
    <%= auto_link(tweet.full_text) %>
  </p>

  <div>
    <% tweet.media.each do |media_object| %>
      <%= link_to media_object.media_url.to_s, title:'media' do %>
        <%= image_tag(media_object.media_url, class: 'media') %>
      <% end %>
    <% end %>
  </div>

</blockquote>
