<blockquote class='twitter-tweet'>

  <div class='container'>
    <div class='top-right'>
      <% if already_faved? tweet.id %>
        <%= button_to favorite_path(tweet.id), method: :delete, data: { confirm: "Unfavorite this Tweet?" },
                                               class:'btn btn-default btn-sm' do %>
          <span class='glyphicon glyphicon-star' data-toggle='tooltip' title='Unfavorite'></span>
        <% end %>
      <% else %>
        <%= button_to favorites_path(tweet: { number: tweet.id, text: tweet.full_text,
                                              user_name: tweet.user.name, user_screen_name: tweet.user.screen_name,
                                              user_url: tweet.user.url, user_profile_img: tweet.user.profile_image_url,
                                              tweet_images_attributes: media_urls(tweet.media) }), class:'btn btn-default btn-sm' do %>
            <span class='glyphicon glyphicon-star-empty' data-toggle='tooltip' title='Favorite'></span>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= link_to tweet.user.url.to_s, title:'profile' do %>
        <%= image_tag(tweet.user.profile_image_url, class: 'avatar') %>
        <span class='name'><%= tweet.user.name %><br> </span>
        <span class='screen-name'>@<%= tweet.user.screen_name %></span>
      <% end %>
    </div>
  </div>

  <p class='twitter-tweet'>
    <%= tweet.full_text %><br>
    <% tweet.urls.each do |link| %>
      <%= link_to link.display_url.to_s, link.expanded_url.to_s %><br>
    <% end %>
  </p>

  <div>
    <% tweet.media.each do |media_object| %>
      <%= link_to media_object.media_url.to_s, title:'media' do %>
        <%= image_tag(media_object.media_url, class: 'media') %>
      <% end %>
    <% end %>
  </div>

</blockquote>
