<%= currently_at('Admin') %>
<%= currently_at_left('Admin', 'Favorites') %>

<div class='col-lg-10'>
  <h1>System Favorites</h1>

  <table class='table table-hover'>
    <thead class='thead-default'>
      <th class= 'text-center'>User id</th>
      <th class= 'text-center'>User email</th>
      <th class= 'text-center'>Tweet id</th>
      <th class= 'text-center'>Tweet text fragment</th>
      <th class= 'text-center' colspan='2'>Actions</th>
    </thead>
    <% @favorites.each do |favorite| %>
      <tr class= 'text-center'>
        <td><%= favorite.user_id %></td>
        <td><%= favorite.user.email %></td>
        <td><%= favorite.tweet_id %></td>
        <td class='fit-text'><%= favorite.tweet.text %></td>
        <td>
          <%= link_to edit_admin_favorite_path(favorite) do %>
            <span class='glyphicon glyphicon-pencil' data-toggle='tooltip' data-placement='right' title='Edit Favorite'></span>
          <% end %>
        </td>
        <td>
          <%= link_to admin_favorite_path(favorite), method: :delete, data: { confirm: 'Delete this tweet?' } do %>
            <span class='glyphicon glyphicon-remove' data-toggle='tooltip' data-placement='right' title='Delete Tweet'></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class='flickr_pagination'>
    <%= will_paginate @favorites %>
  </div>

  <div>
    <%= link_to 'Create New Favorite', new_admin_favorite_path, class: 'btn btn-primary' %>
  </div>
</div>
