<%= currently_at('Admin') %>
<%= currently_at_left('Admin', 'Favorites') %>

<div class='col-lg-10'>
  <h1>System Favorites</h1>

  <div id='favorites_table_container'>
    <table class='table table-hover'>
      <thead class='thead-default'>
        <th class= 'text-center'><%= sortable_column 'user_id', 'User id' %></th>
        <th class= 'text-center'><%= sortable_column 'users.email', 'User email' %></th>
        <th class= 'text-center'><%= sortable_column 'tweet_id', 'Tweet id' %></th>
        <th class= 'text-center non-sort-column'>Tweet text fragment</th>
        <th class= 'text-center non-sort-column' colspan='2'>Actions</th>
      </thead>
      <%= render partial: 'favorites_table_body', locals: { favorites: @favorites } %>
    </table>

  </div>
  <div class='flickr_pagination'>
    <%= will_paginate @favorites %>
  </div>

  <div>
    <%= link_to 'Create New Favorite', new_admin_favorite_path, class: 'btn btn-primary' %>
  </div>
</div>
