<%= form_for [:admin, user] do |f| %>

  <%= render partial: 'errors', locals: { user: user } %>

  <form role='form'>
    <div class='form-group'>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true , class: 'form-group'%>
    </div>
    <div class='form-group'>
      <%= f.label :password %> <br />
      <%= f.password_field :password, autocomplete: 'off', class: 'form-group'%>
    </div>
    <div class='form-group'>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-group' %>
    </div>

    <div>
      <%= f.label 'User Type' %><br />
      <%= f.select :admin, {Admin: true, User: false}, class: 'dropdown-menu' %>
    </div>
    <br />
    <div class='actions'>
      <%= f.submit 'Done', class: 'btn btn-success' %>
    </div>

  </form>

<% end %>
