<%= currently_at('Admin') %>
<%= currently_at_left('Admin', 'Users') %>
<div class='col-lg-10'>
  <h1>Users</h1>

  <%= text_field_tag :search_field, nil, class: 'form-group' %>
  <%= button_tag id: 'search_button', class: 'btn btn-default' do %>
    <span class='glyphicon glyphicon-search'></span>
  <% end %>

  <div id='users_table_container'>
    <table class='table table-hover'>
      <thead>
        <th><%= sortable_column 'email', 'Email' %></th>
        <th><%= sortable_column 'admin', 'Admin?' %></th>
        <th class= 'text-center non-sort-column' colspan='2'>Actions</th>
      </thead>
      <%= render partial: 'users_table_body', locals: { users: @users } %>
    </table>
  </div>

  <div class='flickr_pagination'>
    <%= will_paginate @users %>
  </div>

  <div>
    <%= link_to 'Create New User', new_admin_user_path, class: 'btn btn-primary' %>
  </div>
</div>
