<%= currently_at('Admin') %>
<%= currently_at_left('Admin', 'Users') %>
<div class='col-lg-10'>
  <h1>Users</h1>
  <table class='table table-hover'>
    <thead>
      <th>Email</th>
      <th>Admin?</th>
      <th class= 'text-center' colspan='2'>Actions</th>
    </thead>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %> </td>
        <td><%= user.admin ? 'Yes' : 'No' %> </td>
        <td class='text-center'>
          <%= link_to edit_admin_user_path(user) do %>
            <span class='glyphicon glyphicon-pencil' data-toggle='tooltip' data-placement='right' title='Edit User'></span>
          <% end %>
        </td>
        <td class='text-center'>
          <%= link_to admin_user_path(user), method: :delete, data: { confirm: 'Delete this user?' } do %>
            <span class='glyphicon glyphicon-remove' data-toggle='tooltip' data-placement='right' title='Delete User'></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class='flickr_pagination'>
    <%= will_paginate @users %>
  </div>

  <div>
    <%= link_to 'Create New User', new_admin_user_path, class: 'btn btn-primary' %>
  </div>
</div>
