<h1>Reset <%= @user.email.slice(/[^@]+/) %> Password</h1>
<br />
<%= form_for [:admin, @user] do |f| %>

  <%= render partial: 'errors', locals: { user: @user } %>

  <form role='form'>

    <%= render partial: 'password_fields', locals: { f: f } %>

    <br />
    <div class='actions'>
      <%= f.submit 'Done', class: 'btn btn-success', data: {confirm: 'Reset this User\'s password?'} %>
      <%= link_to 'Cancel', admin_users_path, class: 'btn btn-link'%>
    </div>
  </form>

<% end %>
