<%= content_for :navigation do %>
  <nav class='navbar navbar-inverse navbar-fixed-top'>
    <div class='container'>
      <ul class='nav navbar-nav navbar-right'>

        <% if user_signed_in? %>

          <%= nav_tab 'Tweets', tweets_path, current_tab %>

          <%= nav_tab 'My Profile', edit_profile_path, current_tab %>

          <% if admin_role? %>
            <%= nav_tab 'Admin', admin_users_path, current_tab %>
          <% end %>

          <li role='presentation'>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
          </li>

        <% end %>

      </ul>
    </div>
  </nav>
<%end%>
