<!DOCTYPE html>
<html>
<head>
  <title>TwitterProjectMaxi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield :navigation %>
  <div id='main-container' class='container'>

    <% if notice %>
      <div class='row text-center'>
        <div class='col-lg-12'>
          <div class='alert alert-info' role='alert'><%= notice %></div>
        </div>
      </div>
    <% end %>
    <% if alert %>
      <div class='row text-center'>
        <div class='col-lg-12'>
          <div class='alert alert-warning' role='alert'><%= alert %></div>
        </div>
      </div>
    <% end %>

    <div class='row'>
      <div class='col-lg-2 text-center'>
        <ul class='nav nav-pills nav-stacked'>
          <%= yield :left_navigation %>
        </ul>
      </div>
      <%= yield %>
    </div>

  </div>
</body>
</html>
